.backdrop {
    z-index: 100;
}
.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 48px;
    & > *:not(:last-child) {
        margin-bottom: 24px;
    }
}